Name: Ronit Mehta PRN: 25070123094

AIM: To Study For Loop in Python

In [ ]:
#print numbers from 1 to 5

for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
#print only odd numbers from 1 to 10

for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
#sum of first n numbers

n = int(input("Enter a number: "))
total = 0

for i in range(1,n+1):
  total += i

print("Sum of first", n, "numbers is", total)

Enter a number: 5
Sum of first 5 numbers is 15

In [ ]:
#3x3 matrix display
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

for i in range(3):
  for j in range(3):
    print(A[i][j], end = " ")

  print()

1 2 3
4 5 6
7 8 9

In [ ]:
# Multiplication Of Two 3 x 3 Matrices
A = [[1,2,3], [4,5,6],[1,2,1]]
B = [[1,1,1], [6,5,4],[3,2,1]]
Result = [[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
    for j in range(3):
      for k in range(3):
          Result[i][j] += A[i][k] * B[k][j]
for row in Result:
    print(row)

[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [ ]:
#print all prime numbers in range

for num in range(2,50):
  for i in range(2, num):
    if num%i==0:
      break

  else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
for i in range(5,0,-1):
  print("* "*i)

In [6]:
row = 5

for i in range(1, row + 1):
    print(" " * (row - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *